<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Exo|Open+Sans:300i" rel="stylesheet">
    <title>WordSnake</title>
</head>
<body>
    <div class="content">
        <h1>Word Snake</h1>

        <figure id="word-snake-game"></figure>
        <div class="score-line">Score: <p class="number"> 0</p></div>
    </div>
</body>
</html>
