<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
        <p>
            <h1>Word Snake</h1>

            <figure id="word-snake-game"></figure>
            Score: <p id="score"> 0</p>
        </p>
    </div>
</body>
</html>
