// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.warning {
    position: absolute;
    left: 566px;
    top: 74px;
    font-family: 'Open Sans', sans-serif;
}

.wrong-length {
    left: 466px;
}

.game-over {
    left: 544px;
}

h1 {
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
    font-style: italic;
    position: absolute;
    left: 309px;
}

.score-line {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 80px;
    left: 92px;
    display: flex;
    align-items: center;

    p {
        margin: 10px;
    }
}

ul {
    display: flex;
    list-style: none;
    margin: 0; 
    position: relative;
    top: 100px;

    li {
        border: 1px solid black;
        border-radius: 3px;
        padding: 30px;
        position: relative;
    }

    li:last-of-type {
        border-right: 2px solid black;
    }

    li:first-of-type {
        border-left: 2px solid black;
    }

    .cursor-word {
        position: absolute;
        border: 3px solid green;
        border-radius: 3px;
        padding: 29px;
        left: -2px;
        top: -18px;
    }

    .wrong {
        border: 3px solid red;
    }

    .cursor-space {
        border: 3px dotted green;
        position: absolute;
        border-radius: 3px;
        padding: 29px;
        left: -2px;
        top: -18px;
    }

    .old {
        position: absolute;
        border: 3px solid blue;
        border-radius: 3px;
        padding: 29px;
        left: -2px;
        top: -18px;
    }
    
}

.letter {
    position: absolute;
    font-size: 40px;
    bottom: 5px;
    right: 18px;
}

ul:first-of-type {

    li {
        border-top: 2px solid black;
    }
}

ul:last-of-type {
    li {
        border-bottom: 2px solid black;
    }
}



