// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;

    li {
        border: 1px solid black;
        padding: 30px;
    }

    li:last-of-type {
        border-right: 2px solid black;
    }

    li:first-of-type {
        border-left: 2px solid black;
    }
}

ul:first-of-type {

    li {
        border-top: 2px solid black;
    }
}

ul:last-of-type {
    li {
        border-bottom: 2px solid black;
    }
}